<!DOCTYPE html>
<html lang="es">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-container">
        <form method="POST" action="{{ url_for('auth.login') }}">
            <h2>Iniciar Sesión</h2>
            <div class="input-group">
                <label for="nombre">Usuario:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="input-group">
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="password" required>
            </div>
            <button type="submit" class="btn-submit">Iniciar Sesión</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <p class="message {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endwith %}
    </div>
</body>
</html>
